body{
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
}

.imgappletools{
    max-width: 100%;
}

.nuevo{
    color: red;
    font-size: small;
}

.comprar{
    background-color:rgb(0, 113, 227);
    color: white;
    border-radius: 10px;
    border: none; 
    padding: 5px; 
}

.masinformacion{
    padding-top: 20px;
    padding-bottom: 20px;
}

.enlacemasinformacion{
    text-decoration: none;
}

.superbox{
    height: 600px;
}

.box1{
    background-color: rgb(242, 242, 242);
    width: 49%;
    height:100%;
    display: inline-block;
    margin-right: 10px;
}

.accesorios{
    padding-top: 40px;
}

.apple-tools{
    width: 100%;
    margin-top: 20px;
    height: 49%;
}

.box2{
    background-color: rgb(242, 242, 242);
    width: 49%;
    height:100%;
    display: inline-block;
    margin-left: 10px;
}

.encuentra{
    width: 40%;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
    font-size: 35px;
}

.ver{
    background-color:rgb(0, 113, 227);
    color: white;
    border-radius: 10px;
    border: none; 
    padding: 7px;
}

.calcular{
    text-decoration: none;
    padding-bottom: 20px;
}

.appletradein{
    padding-top: 40px;
}

.convierte{
    width: 75%;
    text-align: center;
    margin: auto;
    font-size: 35px;
}

.cambia{
    padding-left: 165px;
    padding-right: 165px;
    font-size: 15PX;
}

.laptop{
    width: 70%;
    margin-top: 20px;
    height: 45%;








